@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Sansita", sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 20px;
}

.header,
.hero-section {
  background: #1f2937;
  color: #fff;
}

.header-logo {
  font-size: 32px;
  font-weight: 700;
}

.links {
  display: flex;
  list-style: none;
  gap: 16px;
}

.links li a {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  border-bottom: transparent;
  padding: 5px;
  transition: all 0.5s ease-out;
}

.links li a:hover {
  text-decoration: none;
  color: #888;
  border-bottom: 2px solid #888;
}

.hero-section .container {
  gap: 20px;
  margin-block: 80px;
}

.hero-section .left-content,
.hero-section .container .image {
  flex: 500px;
  width: 100%;
}

.hero-section .left-content .hero-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.4;
}

.hero-section .left-content .content {
  font-size: 20px;
  color: #ccc;
  padding-block: 16px;
  margin-bottom: 10px;
}

.hero-section .left-content button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 1px solid #3b82f6;
  border-radius: 8px;
  background-color: #3b82f6;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  transition: background 0.3s ease-in;
}

.hero-section .left-content button:hover {
  border: 1px solid #3b82f6;
  background-color: transparent;
}

.hero-section .container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  height: 300px;
}

.information-section .container {
  flex-direction: column;
  margin-block: 50px;
}

.information-section .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-layout .card {
  flex: 130px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.card .image {
  height: 150px;
  width: 100%;
  border: 3px solid #3b82f6;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card .content {
  font-size: 16px;
  color: #999;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-section .container {
  margin-block: 80px;
  padding-inline: 120px;
  display: flex;
  flex-direction: column;
}

.quote-section .content {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  color: #777;
}

.quote-section .title {
  align-self: flex-end;
  font-size: 25px;
  font-weight: 600;
}

.newsletter-section {
  margin-block: 80px;
}

.newsletter-section .container {
  background-color: #3b82f6;
  color: #fff;
  padding: 50px 140px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.newsletter-section .left-content .title {
  font-weight: 700;
  font-size: 24px;
}

.newsletter-section .left-content .content {
  font-size: 20px;
  padding-top: 10px;
  color: #bbb;
}

.newsletter-section button {
  padding: 8px 30px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in;
}

.newsletter-section button:hover {
  border: 2px solid #3b82f6;
  background-color: #fff;
  color: #3b82f6;
}

.footer {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #fff;
  padding-block: 50px;
}

.footer .container {
  font-size: 20px;
  margin-block: 50px;
}
