@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Sansita", sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 20px;
}

.header,
.hero-section {
  background: #1f2937;
  color: #fff;
}

.header-logo {
  font-size: 32px;
  font-weight: 700;
}

.links {
  display: flex;
  list-style: none;
  gap: 16px;
}

.links li a {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  border-bottom: transparent;
  padding: 5px;
  transition: all 0.5s ease-out;
}

.links li a:hover {
  text-decoration: none;
  color: #888;
  border-bottom: 2px solid #888;
}

.hero-section .container {
  gap: 20px;
  margin-block: 80px;
}

.left-content,
.hero-section .container .image {
  flex: 500px;
  width: 100%;
}

.left-content .hero-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.4;
}

.left-content .content {
  font-size: 20px;
  color: #ccc;
  padding-block: 16px;
  margin-bottom: 10px;
}

.left-content button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 1px solid #3b82f6;
  border-radius: 8px;
  background-color: #3b82f6;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  transition: background 0.3s ease-in;
}

.left-content button:hover {
  border: 1px solid #3b82f6;
  background-color: transparent;
}

.hero-section .container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  height: 300px;
}
