* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: darkmagenta;
  padding: 16px;
  height: 72px;
  display: flex;
  align-items: center;
}

.header .container {
  font-size: 32px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.main {
  flex: 1;
  display: flex;
}

.main .container {
  display: flex;
  /*! height: ; */
  width: 100%;
  flex: 1;
}

.left-menu {
  width: 300px;
  background-color: royalblue;
  padding: 16px;
  color: #fff;
  flex-shrink: 0;
  font-size: 24px;
  max-height: auto;
}

.left-menu ul {
  list-style: none;
}

.left-menu ul li:not(:last-child) {
  padding-bottom: 10px;
}

.card-layout {
  display: flex;
  flex-flow: row wrap;
  gap: 48px;
  margin: 48px;
}

.card {
  max-width: 300px;
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 20px;
}

.footer {
  height: 72px;
  background-color: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}
