@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.footer {
  background-color: #eee;
}

.right-menu ul,
.left-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #777;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
}

.logo {
  max-width: 600px;
  width: 100%;
}

input {
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 8px 24px;
}

.button {
  display: flex;
  gap: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #eee;
}

button:hover {
  background: none;
  border: 1px solid #eee;
}
