* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-size: 20px;
  padding: 20px;
  margin-block: 10px;
}

ul {
  list-style: none;
  padding-inline: 20px;
  display: flex;
  justify-content: center;
}

ul li {
  padding-inline: 10px;
}

li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
}

li a:hover {
  color: #0000ff;
}

li a:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

li img {
  width: 250px;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
