p {
  background-color: #ffa7a7;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
.second-para {
  font-size: 24px;
}
#first-div {
  color: #0000ff;
  font-size: 36px;
}
#second-div {
  background-color: #80ff80;
  font-size: 24px;
  font-weight: bold;
}
